<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br/><h3 class="text-center">Atualizar dados de Pessoa</h3><br/>
      <form [formGroup]="formPessoa" (ngSubmit)="onSubmitPessoa()">
        <div class="row">
          <div class="form-group col-6">
            <label for="nome"><strong>Nome</strong></label>
            <input formControlName="nome" id="nome" type="text" class="form-control" value="Luiz">
          </div>
          <div class="form-group col-6">
            <label for="cpf"><strong>CPF</strong></label>
            <input formControlName="cpf" id="cpf" type="text" class="form-control" value="600.444.888-77">
          </div>
          <div class="form-group col-6">
            <label for="email"><strong>E-mail</strong></label>
            <input formControlName="email" id="email" type="email" class="form-control" value="luiz@mail.com">
          </div>
          <div class="form-group col-6">
            <label for="dataNascimento"><strong>Data de Nascimento</strong></label>
            <input formControlName="dataNascimento" id="dataNascimento" type="text" class="form-control" value="01/01/1988">
          </div>
          <div class="col-2">
            <button type="submit" role="button" class="btn btn-default btn-block btn-outline-success"> <i class="fa fa-sync-alt"></i> Atualizar </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" style="margin-top: 25px">
    <div class="offset-6 col-md-6">
      <form [formGroup]="formTelefone" (ngSubmit)="onSubmitTelefone()" class="form-inline">
        <label for="ddd" class="sr-only">DDD</label>
        <input formControlName="ddd" id="ddd" class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" placeholder="DDD">
        <label for="numero" class="sr-only">Número</label>
        <input formControlName="numero" id="numero" class="form-control mb-2 mr-sm-2 mb-sm-0" type="tel" placeholder="Telefone" pattern="(99) 9 9999-9999">
        <button type="submit" role="button" class="btn btn-default btn-outline-success"> <i class="fa fa-plus"></i> Adicionar </button>
      </form>
    </div>
    <div class="col-md-12" style="margin-top: 15px">
      <table class="table table-bordered table-hover">
        <thead class="thead-default">
          <tr>
            <th style="width: 15%">ID</th>
            <th style="width: 15%">DDD</th>
            <th style="width: 55%">Telefone</th>
            <th style="width: 15%">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let telefone of pessoa?.telefones">
            <td>{{ telefone.id }}</td>
            <td>{{ telefone.ddd }}</td>
            <td>{{ telefone.numero }}</td>
            <td>
              <button (click)="remover(telefone)" type="button" role="button" class="btn btn-outline-danger" placement="top" ngbTooltip="Deletar"> <i class="fa fa-times-circle"></i> </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>