<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">CRUD DevJr</a>

    <div class="collapse navbar-collapse" id="navbarsExampleContainer">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/pessoas','listagem']"> Listagem <span class="sr-only">(current)</span></a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/pessoas','cadastro']"> Cadastro </a>
        </li>
      </ul>
    </div>
  </div>
</nav>